<h1>TinyApp</h1>

<nav>
  <ul>
    <% if (username) { %>
    <li><a href="/urls">TinyURLs</a></li>
    <li><a href="/urls/new">New TinyURL</a></li>
    <form method="POST" action="/logout">
      <span><%= username %></span>
      <button type="submit">Logout</button>
    </form>
    <% } else {%>
      <li><a href="/login">Sign In</a></li>
    <% } %>
  </ul>
</nav>
