<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - Register</title>
</head>
<body>

  <% include partials/_header %>

  <h2>Register for TinyApp!</h2>

  <form method="POST" action="/register">
    <input type="email" name="email" /><br />
    <input type="password" name="password" /><br />
    <button type="submit">Register</button>
  </form>
  <p><a href="/login">Already a member?</a></p>
</body>
</html>
