<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>

  <% if (longURL[shortURL]) { %>
    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="urls/<%= shortURL %>">
      <input type="text" value="<%= longURL[shortURL] %>" size="35">
      <button type="submit">Update</button>
    </form>
  <% } %>
</body>
</html>
