<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - <%= shortURL %></title>
</head>
<body>
  <% include partials/_header %>

  <% if (longURL[shortURL]) { %>
    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="<%= shortURL %>">
      <input id="newURL" type="text" name="newURL" value="<%= longURL[shortURL] %>" size="35">
      <button type="submit">Update</button>
    </form>
  <% } %>
</body>
</html>
