<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - TinyURLs</title>
</head>
<body>
  <% include partials/_header %>
  <ul>
    <% for (let url in urls) { %>
      <% if (urls[url].userID === user_id.id) { %>
        <li>
          <%= `http://localhost:8080/u/${url} | ${urls[url].longURL}` %>
          <form method="POST" action="/urls/<%= url %>/delete">
            <a href="/urls/<%= url %>">Edit</a>
            <button type="submit">Delete</button>
          </form>
        </li>
      <% } %>
    <% } %>
    </ul>
</body>
</html>
