<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <ul>
    <% for (let url in urls) { %>
      <li>
        <%= `${url} | ${urls[url]}` %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <a href="<%= url %>">Edit</a>
          <button type="submit">Delete</button>
        </form>
      </li>
    <% } %>
    </ul>
</body>
</html>
