<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - New TinyURL</title>
</head>
  <body>
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input type="text" name="longURL" placeholder="http://">
      <button type="submit">Convert</button>
    </form>
  </body>
</html>
